<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Head BEGIN -->
<head>
    <meta charset="utf-8">
    <title>Kooliprojekt</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Fonts START -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
    <!-- Fonts END -->
    <!-- Global styles START -->
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Global styles END -->
    <!-- Page level plugin styles START -->
    <link href="~/assets/pages/css/animate.css" rel="stylesheet">
    <link href="~/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <link href="~/assets/plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
    <!-- Page level plugin styles END -->
    <!-- Theme styles START -->
    <link href="~/assets/pages/css/components.css" rel="stylesheet">
    <link href="~/assets/pages/css/slider.css" rel="stylesheet">
    <link href="~/assets/pages/css/style-shop.css" rel="stylesheet" type="text/css">
    <link href="~/assets/corporate/css/style.css" rel="stylesheet">
    <link href="~/assets/corporate/css/style-responsive.css" rel="stylesheet">
    <link href="~/assets/corporate/css/themes/red.css" rel="stylesheet" id="style-color">
    <link href="~/assets/corporate/css/custom.css" rel="stylesheet">
    <!-- Theme styles END -->

    <style>
        /* Custom styles for spacing in navbar */
        .navbar-nav .nav-item {
            margin-right: 19px; /* Adjust space as needed */
        }
    </style>
</head>
<body class="ecommerce">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Kooliprojekt</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Customers")">Customers</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Invoices")">Invoices</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Batches")">Batches</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Beers")">Beers</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Ingredients")">Ingredients</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Photos")">Photos</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "TastingLogs")">Tasting Logs</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Comments")">Comments</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Users")">Users</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "UserRoles")">User Roles</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="main">
        <div class="container">
            <div class="row margin-bottom-40">
                <partial name="_SideBar" />

                <!-- BEGIN CONTENT -->
                <div class="col-md-9 col-sm-7">
                    @RenderBody()
                </div>
                <!-- END CONTENT -->
            </div>
        </div>
    </div>

    <partial name="_Footer" />

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <script src="~/assets/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
